body {
  background: rgb(202, 200, 200);
  padding-top: 60px;
  padding-bottom: 60px;
  color: black;
  font-size: 8pt;
  text-align: center
  
  }

h3 {
  position: top;
  margin-bottom: 30px;
  text-align: center;
  font-size: 150%
}

h5 {
  font-size: 32pt;
  margin-top: -62px;
  margin-bottom: 0px;
  text-align: center;
  color: white
}

p {
  position: top;
  margin-bottom: 30px;
  text-align: center;
  font-size: 150%
}

h2 {
  
  position: top;
  float: right
}

p2 {
  position: top;
  font-size: 11pt;
  margin-top: 20px;
  margin-bottom: 160px;
  float: right;
  text-align: justify;
  width: 400px;
}

p3 {
  position: top;
  font-size: 11pt;
  margin-top: 20px;
  margin-bottom: 160px;
  float: left;
  text-align: justify;
  width: 550px;
  padding-left: 150px
}

/* carousel */
.carousel-inner {
  margin-top: 50px;
  height: 1200px;
  width: 1500px;
  padding-left: 18%;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.container {
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  overflow: auto;
  padding: 10px 3rem
}
  
.main-container {
  position: relative
}

.main-section {
  position: relative
}

.card {
  position: relative;
  float: left;
  width: 400px;
  height: 350px;
  margin: 10px;
  background-color: #67808d;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.card2 {
  position: relative;
  float: left;
  width: 400px;
  height: 260px;
  margin: 10px;
  background-color: #67808d;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.card-img-top {
  position: relative;
  margin-top: 5px;
  width: 390px;
  overflow: hidden;
  height: 250px
}
.card-img-top2 {
  position: relative;
  margin-top: 5px;
  padding-bottom: 8px;
  width: 390px;
  overflow: hidden;
  height: 125px
}

.card-img-profile {
  position: relative;
  margin-top: 70px;
  width: 25%;
  overflow: hidden;
  height: 25%
}
  
.card h3{
  position: top;
  width: auto;
  height: 40px;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 5px;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #aa4a57
}
  
.card h4{
  position: relative;
  font-size: 13px;
  padding-top: 5px;
  color: white;
  text-align: center
}
  
.card h5{
  font-size: 10px;
  margin-top: 60px;
  padding-top: 5px;
  background-color: goldenrod;
  color: black;
  text-align: center
}


.footer {
  padding-right: 10px
}