body {
  background: rgb(202, 200, 200);
  padding-top: 60px;
  padding-bottom: 60px;
  color: black;
  font-size: 8pt;
  text-align: center
  }

/* h2 {
  max-width: 90%;
  height: auto;
  padding-top: 30px;
  padding-left: 10%;
  padding-bottom: 30px
} */

h3 {
  position: top;
  margin-bottom: 30px;
  text-align: center;
  font-size: 150%
}

h5 {
  font-size: 32pt;
  margin-top: -62px;
  margin-bottom: 0px;
  text-align: center;
  color: white
}

p {
  font-size: 16pt;
  margin-top: 90px;
  float: right;
  text-align: justify;
  width: 900px
}

.p2 {
  font-size: 16pt;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  text-align: center;
  width: 900px
}

.p3 {
  font-size: 16pt;
  margin-top: 90px;
  float: right;
  text-align: justify;
  width: 900px
}

.p4 {
  font-size: 16pt;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  text-align: left;
  width: 900px
}

/* carousel */
.carousel-inner {
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-left: 0%;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.container {
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  overflow: auto;
  padding: 10px 3rem
}

  /* portfolio page */
  
.main-container {
  position: relative
}

.main-section {
  position: relative
}

.card {
  position: relative;
  float: left;
  width: 400px;
  height: 400px;
  margin: 10px;
  background-color: #67808d;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
  
.card-img-top {
  position: relative;
  margin-top: 5px;
  width: 390px;
  /* overflow: hidden; */
  height: 300px
}

.card-img-profile {
  position: relative;
  margin-top: 100px;
  width: 280px;
  /* overflow: hidden; */
  height: 300px
}
  
.card h3{
  position: top;
  width: auto;
  height: 40px;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 5px;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #aa4a57
}
  
.card h4{
  position: relative;
  font-size: 13px;
  padding-top: 5px;
  color: white;
  text-align: center
}
  
.card h5{
  font-size: 10px;
  margin-top: 60px;
  padding-top: 5px;
  background-color: goldenrod;
  color: black;
  text-align: center
}


/* Style the footer
.footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #777;
  margin-top: 1750px;
  padding-top: 10px;
  padding-bottom: 3px;
  text-align: center;
  color: white;
  font-size: 10pt
} */